<div>
  <mat-card color="accent">
    <mat-card-header>
      <mat-card-title>Farkle Dice Game</mat-card-title>
    </mat-card-header>
    <div fxLayout fxLayoutAlign="space-evenly">
      <div>
        <mat-icon *ngIf="dice1Locked">lock</mat-icon>
        <img
          [ngClass]="{ chosenDice: dice1Disabled === true }"
          src="assets/dice{{ dice1Value }}.png"
          alt="dice 1"
          (click)="selectDice(1)"
        />
      </div>
      <div>
        <mat-icon *ngIf="dice2Locked">lock</mat-icon>
        <img
          [ngClass]="{ chosenDice: dice2Disabled === true }"
          src="assets/dice{{ dice2Value }}.png"
          alt="dice 2"
          (click)="selectDice(2)"
        />
      </div>
      <div>
        <mat-icon *ngIf="dice3Locked">lock</mat-icon>
        <img
          [ngClass]="{ chosenDice: dice3Disabled === true }"
          src="assets/dice{{ dice3Value }}.png"
          alt="dice 3"
          (click)="selectDice(3)"
        />
      </div>
      <div>
        <mat-icon *ngIf="dice4Locked">lock</mat-icon>
        <img
          [ngClass]="{ chosenDice: dice4Disabled === true }"
          src="assets/dice{{ dice4Value }}.png"
          alt="dice 4"
          (click)="selectDice(4)"
        />
      </div>
      <div>
        <mat-icon *ngIf="dice5Locked">lock</mat-icon>
        <img
          [ngClass]="{ chosenDice: dice5Disabled === true }"
          src="assets/dice{{ dice5Value }}.png"
          alt="dice 5"
          (click)="selectDice(5)"
        />
      </div>
      <div>
        <mat-icon *ngIf="dice6Locked">lock</mat-icon>
        <img
          [ngClass]="{ chosenDice: dice6Disabled === true }"
          src="assets/dice{{ dice6Value }}.png"
          alt="dice 6"
          (click)="selectDice(6)"
        />
      </div>
    </div>
    <mat-card-footer>
      <h1>Winning Score: {{ winningScore }}</h1>
    </mat-card-footer>
  </mat-card>
</div>
<div id="lower-layout" fxLayout>
  <div class="player-container" fxFlex="3 1 auto">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div class="player-layout">
        <h1
          [ngClass]="{
            currentPlayer: activePlayer === 1,
            secondaryPlayer: activePlayer !== 1
          }"
          class="mat-display-2"
        >
          <mat-icon color="accent" *ngIf="this.activePlayer === 1"
            >fiber_manual_record</mat-icon
          >Player 1
        </h1>
      </div>
      <div class="player-layout">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>
            <h1>Current Roll Total</h1>
          </div>
          <div>
            <h1 *ngIf="activePlayer === 1">{{ currentRollTotal }}</h1>
            <h1 *ngIf="activePlayer === 2">0</h1>
          </div>
        </div>
      </div>
      <div class="player-layout">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>
            <h1>Game Score</h1>
          </div>
          <div>
            <h1>{{ player1Score }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="1 1 auto">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
      <div class="middle-layout">
        <button
          [disabled]="gameOver || !canRoll"
          mat-raised-button
          color="primary"
          (click)="rollDice()"
        >
          <mat-icon>autorenew</mat-icon>Roll Dice
        </button>
      </div>
      <div class="middle-layout">
        <button
          [disabled]="gameOver || mustRollAgain || !completeInitialRoll"
          mat-raised-button
          color="accent"
          (click)="bankCurrentScore()"
        >
          <mat-icon>attach_money</mat-icon>Bank
        </button>
      </div>
      <div class="middle-layout">
        <button mat-raised-button color="warn" (click)="newGame()">
          <mat-icon>add_circle_outline</mat-icon>New Game
        </button>
      </div>
      <div class="middle-layout">
        <mat-form-field appearance="outline">
          <mat-label>Set Winning Score</mat-label>
          <input
            [disabled]="gameOver"
            matInput
            type="number"
            [(ngModel)]="winningScore"
          />
          <mat-icon matSuffix>sports_score</mat-icon>
          <mat-hint>Score required to win the game.</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="player-container" fxFlex="3 1 auto">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div class="player-layout">
        <h1
          [ngClass]="{
            currentPlayer: activePlayer === 2,
            secondaryPlayer: activePlayer !== 2
          }"
          class="mat-display-2"
        >
          <mat-icon color="accent" *ngIf="this.activePlayer === 2"
            >fiber_manual_record</mat-icon
          >Player 2
        </h1>
      </div>
      <div class="player-layout">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>
            <h1>Current Roll Total</h1>
          </div>
          <div>
            <h1 *ngIf="activePlayer === 2">{{ currentRollTotal }}</h1>
            <h1 *ngIf="activePlayer === 1">0</h1>
          </div>
        </div>
      </div>
      <div class="player-layout">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>
            <h1>Game Score</h1>
          </div>
          <div>
            <h1>{{ player2Score }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
