<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Dice Games Deluxe</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'"> Home </a>
      <a mat-button [routerLink]="'/pig'"> Pig Dice </a>
      <a mat-button [routerLink]="'/yahtzee'"> Yahtzee </a>
      <a mat-button [routerLink]="'/farkle'"> Farkle </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'" (click)="sidenav.toggle()"> Home </a>
      <a mat-list-item [routerLink]="'/pig'" (click)="sidenav.toggle()">
        Pig Dice
      </a>
      <a mat-list-item [routerLink]="'/yahtzee'" (click)="sidenav.toggle()">
        Yahtzee
      </a>
      <a mat-list-item [routerLink]="'/farkle'" (click)="sidenav.toggle()">
        Farkle
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
